.inventory__List {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  flex: 1;
  flex-basis: 30%;
  border: 1px solid black;
  margin: 8px;
  box-shadow: 10px 5px 5px grey;
  padding: 0.4rem;
  flex-grow: 0;
}

#centerpiece {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button:hover {
  cursor: pointer;
}

.buttonContainer button {
  border: none;
  background: none;
}

.inventoryListParagraph {
  justify-content: center;
  align-items: center;
  align-content: center;
}

#totalItemsMessage {
  margin-left: 0.4rem;
  margin-bottom: 1rem;
}
.inventoryListCreateButton {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 12px;
  border: 2px solid transparent;
  border-color: #000;
  color: #000;
  background: transparent;
  font-weight: 800;
  line-height: 2rem;
  transition: background, color 0.1s ease-in-out;
  align-items: center;
  margin-left: 0.4rem;
}

.inventoryListCreateButton:hover {
  background-color: #000;
  color: #fff;
}
